
# =======================================
# Backend Configuration
# =======================================

# === Server Configuration ==============
ENVIRONMENT=development
BACKEND_PORT=8080
SERVER_ADDRESS=0.0.0.0:8080

# === Database Configuration ============
DB_USER=user
DB_PASSWORD=password
DB_HOST=postgres_db      
DB_PORT=5432
DB_NAME=portfilio
DB_SSLMODE=disable

# === Database Source ===================
DB_SOURCE=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=${DB_SSLMODE}

# === JWT Configuration =================
JWT_SECRET=secret_key_for_jwt

# === Auth User Configuration ===========
ADMIN_USERNAME=username
ADMIN_PASSWORD=password

# =======================================
# Frontend Configuration
# =======================================

FRONTEND_PORT=5173


