
# =======================================
# Backend Configuration
# =======================================

# === Server Configuration ==============
ENVIRONMENT=development
BACKEND_PORT=8080
SERVER_ADDRESS=0.0.0.0:8080

# === Database Configuration ============
DB_USER=user
DB_PASSWORD=password
DB_HOST=postgres_db      
DB_PORT=5432
DB_NAME=portfilio
DB_SSLMODE=disable

# === Database Source ===================
DB_SOURCE=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=${DB_SSLMODE}

# === JWT Configuration =================
JWT_SECRET=secret_key_for_jwt

# === Auth User Configuration ===========
ADMIN_USERNAME=username
ADMIN_PASSWORD=password

# === Cloudflare R2 Configuration =======
R2_ACCOUNT_ID=cloudflare_account_id
R2_ACCESS_KEY_ID=r2_access_key_id
R2_SECRET_ACCESS_KEY=r2_secret_access_key
R2_BUCKET_NAME=portfolio-media
R2_PUBLIC_URL=https://pub-xxxxxxxxxxxxxxxxxxxxxxxx.r2.dev


# =======================================
# Frontend Configuration
# =======================================

FRONTEND_PORT=5173
VITE_API_BASE_URL=http://localhost:8080/api

